/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,body{
background-image: url("../img/background.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: auto;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}


/* nav bar style */



.clearfix{overflow: auto;}

a{
    text-decoration: none;
}

ul{
    
    margin: 0;
    padding: 0;
    list-style: none;

}
#navsec {
    margin: 0;
    padding: 0;
    align-items: center;
}


.navbar{
    background-color: rgb(255, 195, 18, 0.3);
    border-radius: 0 0 20px 20px;
    padding: 4px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", Arial, sans-serif;
    
}

@media (max-width: 1000px){
    .navbar{
    flex-direction: column;
    justify-content: center;
}
}
.navleft, .navul{
    display:flex;
    align-items: center;
    font-weight: bold;
}
.navleft h3{
    color:white;
    text-transform: uppercase;
}
.navleft h3 span{
    color: #FFC312;
}

.navli{
    display:inline-block;
    padding: 0 10px 0px 5px;
    transition: all 0.3s ease;
    border: 2px solid transparent;
    border-right: 2px solid #FFC312;
    height: 15px;
    

}

.navli:last-child {
    border-right:none;
}
.navlink{
    display: flex;
    align-items: center;
    height: 15px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: all 0.3s ease;
    padding: 0;
    
}

.navlink:hover {
    color:#FFC312;
    font-size: 15px;
    font-weight: 600;
}


